<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="d.moviles.zoologico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zoologico">
        <activity
            android:name=".Tortuga"
            android:exported="true" />
        <activity
            android:name=".Delfin"
            android:exported="true" />
        <activity
            android:name=".Elefante"
            android:exported="true" />
        <activity
            android:name=".Oso"
            android:exported="true" />
        <activity
            android:name=".Lobo"
            android:exported="true" />
        <activity
            android:name=".Aguila"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>